# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Frontend/chat_ui/node_modules
Frontend/chat_ui/.pnp
Frontend/chat_ui/.pnp.*
Frontend/chat_ui/.yarn/*
Frontend/chat_ui/!.yarn/patches
Frontend/chat_ui/!.yarn/plugins
Frontend/chat_ui/!.yarn/releases
Frontend/chat_ui/!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
